/* CSS declarations go here */
*{font-family: 'Roboto', sans-serif;}
html{height: 100%;}
body{height: 100%;margin: 0px;background-color: #f9f9f9;}
main{width: 100%;height: 100%;position: absolute;top:0;bottom:0;}
.MainLayout{min-height: 100%;}
#app{height: 100%;}
.appBarBotton{
  height: 200px;
  background: #1690DB;
}

.colorPrimary{
  background-color: #1690DB;
}

.tc-white{
  color: white;
}

.logo{
  width: 100%;
  text-align: center;
  font-size: 300px!important;
  color:white!important;
}
